{% extends 'base.html' %}
{% block title %}Question 3{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}
<p>
    {{survey.questions[2].question}}
</p>

<form action="/answer">
    Select your answer:
    <label for="{{survey.questions[2].choices[0]}}">{{survey.questions[2].choices[0]}}<input type="radio"
            name="{{survey.questions[2].choices[0]}}" onclick="this.form.submit()"></label>

    <label for="{{survey.questions[2].choices[1]}}">{{survey.questions[2].choices[1]}}</label><input type="radio"
        name="{{survey.questions[2].choices[1]}}" onclick="this.form.submit()"></label>
</form>


{% endblock %}